@import url("../../../styles/defaultStyles.css");

.item__cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    gap: 1.3rem;
}


.item__cart--div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    
}

.cart__div--img {
    width: 50px;
    height: min-content;
    border-radius: 5px;
}

.item__cart--infoshoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.item__cart--infoprice{
    display: flex;
    justify-content: space-evenly;
    width: 100%;    
}
.item__cart--title,
.cart__infoprice--uniteprice,
.cart__infoprice--quantity,
.cart__infoprice--totalprice{
    width: 100%;
    padding: 0;
    margin: 0;
    color: var(--dark-grayish-blue);
}


.cart__infoprice--quantity{
    width: 50%;
}
.cart__infoprice--uniteprice {
    width: 75%;
}

.cart__infoprice--totalprice {
    color: black;
    font-weight: var(--bold-text);
}

.item__cart--delete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border: none;
    background-color: transparent;
    margin-left: auto;
    transition: all 0.3s ease-in-out;
}
.item__cart--delete:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}