@import url("../../styles/defaultStyles.css");

.top__bar {
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: .5rem 2rem;
}

.top__bar__avatar {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    bottom: 17px;
    border-radius: 50%;
    outline: 2px solid transparent;
    
    &:hover {
        outline: 2px solid var(--orange);
    }
}

.top__bar--nav {
    margin-left: 7rem;
}

.top__bar--cart {
    margin-right: 10rem;
}

.top__bar__cart {
    position: absolute;
    top: 0.8rem;
    right: 3rem;
    cursor: pointer;
}

.line {
    margin: 0;
    margin-left: 9rem;
    width: 84.5%;
    border: .5px solid var(--light-grayish-blue);
}

.top__bar--logo {
    margin-right: 2rem;
}

.nav__button {
    background-color: transparent;
    border: none;
    color: var(--dark-grayish-blue);
    font-size: 0.85rem;
    cursor: pointer;
    position: relative;

    &::after {
        content: "";
        display: block;
        top: 3.2rem;
        position: absolute;
        width: 85%;
        height: 5px;
        background-color: var(--orange);
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
    }
    &:hover::after {
        transform: scaleX(1);
    }
}

.bar__cart--quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20px;
    height: 20px;
}

.cart__quantity--cart{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40px;
    font-size: 12px;
    background-color: var(--orange);
    border-radius: 15px;
    z-index: 1000;
}
.quantity__cart--number{
    font-size: 12px;
    color: white;
    font-weight: var(--bold-text);
    padding: 3px 5px;
    margin: 0;
    
}
